* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 90%;
}

#header {
  color: white;
  height: 80px;
  background: #1E2024;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
}
#header .header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#header .header__platform {
  display: flex;
}
#header .header__menu {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
#header .header__menu a {
  color: #9099A3;
  text-decoration: none;
}
#header .header__language__btn {
  width: 100px;
  height: 40px;
  background: #1A5CFF;
  box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 20px;
  margin: 0 10px 0 0;
}

#Klub {
  background: url("/img/Rectangle 2068.png") no-repeat center/cover;
  height: 780px;
}
#Klub .Klub {
  color: white;
}
#Klub .Klub__request {
  position: absolute;
  margin: 50px 0 20px 30px;
}
#Klub .Klub__request h1 {
  font-size: 45px;
  color: white;
}
#Klub .Klub__request p {
  margin: 20px 0 20px 0;
  color: rgba(255, 255, 255, 0.65);
}
#Klub .Klub__request__btns {
  width: 178px;
  height: 40px;
  background: #1A5CFF;
  box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 20px;
  margin: 0 10px 0 0;
}
#Klub .Klub__request__btnt {
  width: 100px;
  height: 40px;
  color: #9099A3;
  border: 1px solid #9099A3;
  border-radius: 15px;
  background: none;
  font-size: 20px;
}
#Klub .Klub__home {
  display: flex;
  justify-content: flex-end;
  padding: 30px 0 20px 0;
}
#Klub .Klub__home h3 {
  color: #9099A3;
}

#mission {
  background: #1E2023;
  height: 750px;
}
#mission .mission {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mission .mission__text {
  font-size: 45px;
  color: white;
  padding: 10px 500px 0 0;
}
#mission .mission__hero {
  width: 1100px;
  height: 600px;
  background: #FFFFFF;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 21px;
  text-transform: capitalize;
  color: #2C3E50;
}
#mission .mission__hero__opyt {
  width: 411px;
  height: 521px;
}
#mission .mission__hero__bisness {
  width: 411px;
  height: 521px;
}
#mission .mission__hero__bisness h4 {
  font-size: 25px;
}

#format {
  background: #1E2023;
}
#format .format h1 {
  font-size: 45px;
  color: white;
}
#format .format__teacher {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#format .format__teacher__student {
  display: flex;
  justify-content: center;
  margin: 10px 20px 30px 0;
  width: 600px;
  height: 340px;
  background: #FFFFFF;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
}
#format .format__teacher__student__icon {
  margin: 15px 25px;
  font-size: 45px;
  color: #2C3E50;
}
#format .format__teacher__student__icon h1 {
  width: 484px;
  font-size: 30px;
  color: #2C3E50;
}
#format .format__teacher__student__icon p {
  width: 484px;
  font-size: 20px;
  color: #2C3E50;
  margin: 30px 0 10px 0;
}
#format .format__teacher__student__icon__btn {
  position: absolute;
  margin: 10px 0 0 290px;
  width: 190px;
  height: 45px;
  background: #1A5CFF;
  box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 18px;
}
#format .format__teacher__student__number h1 {
  display: flex;
  justify-content: space-between;
  font-size: 44px;
  color: #9099A3;
}

#step {
  background: #1E2023;
  min-height: 100vh;
  padding-bottom: 50px;
}
#step .step {
  padding-top: 100px;
}
#step .step--title h1 {
  text-align: center;
  padding: 42px 0;
  font-size: 46px;
  color: white;
}
#step .step--block {
  background: white;
  width: 1040px;
  height: 400px;
  border-radius: 15px;
  display: flex;
}
#step .step--block__left--icon {
  display: flex;
}
#step .step--block__left--icon__come {
  display: flex;
  align-items: center;
  padding-left: 40px;
}
#step .step--block__left--icon__come h1 {
  margin: 0 0 0 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
#step .step--block__left button {
  width: 441px;
  height: 40px;
  background: #1A5CFF;
  border-radius: 15px;
  border: none;
  margin: 62px 40px;
}
#step h2 {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  padding: 50px 70px 10px 40px;
}
#step p {
  width: 90%;
  padding: 10px 40px 50px;
}

#geography {
  background: #1E2023;
  min-height: 100vh;
}
#geography .geography .swiper {
  width: 100%;
  height: 100%;
}
#geography .geography .swiper-slide {
  text-align: center;
  font-size: 10px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#geography .geography .swiper-slide img {
  display: block;
  width: 100%;
  height: 90%;
  background: #1E2023;
}
#geography .geography h1 {
  text-align: center;
  padding: 42px 0;
  font-size: 46px;
  color: white;
}
#geography .geography--beg {
  display: flex;
}
#geography .geography--beg--five__one {
  font-size: 56px;
  color: white;
  padding-left: 30px;
}
#geography .geography--beg--five__two {
  width: 90px;
  padding: 0 0 10px 70px;
}
#geography .geography--beg--five__three {
  font-size: 24px;
  color: #FFFFFF;
  width: 75%;
}
#geography .geography--beg--five__four {
  font-size: 18px;
  color: #FFFFFF;
}
#geography .geography--sheet {
  display: flex;
  align-items: center;
  justify-content: center;
}
#geography .geography--sheet__number {
  margin: 0 40px;
}
#geography .geography--sheet__number h2 {
  font-weight: 900;
  font-size: 36px;
  line-height: 54px;
  color: white;
}
#geography .geography--sheet__number h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}
#geography .geography--sheet__number p {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #FFFFFF;
}
#package {
  background: #1E2023;
}
#package .package__choose {
  font-size: 36px;
  color: white;
  padding: 30px 0;
}
#package .package__small {
  font-size: 16px;
  color: white;
}
#package .package__cards {
  display: flex;
  justify-content: space-around;
}
#package .package__cards__card1 {
  width: 310px;
  height: 370px;
  background: white;
  border-radius: 10px;
  padding: 15px 15px;
  margin: 60px 0 0 0;
}
#package .package__cards__card1__base {
  font-size: 16px;
  color: black;
}
#package .package__cards__card1__sale {
  font-size: 16px;
  color: #9099A3;
  margin: 0 0 10px 0;
}
#package .package__cards__card1__cash {
  font-size: 36px;
  color: black;
  margin: 10px 0 0 0;
}
#package .package__cards__card1__btn {
  font-size: 12px;
  background: #9099A3;
  border-radius: 5px;
  padding: 3px 6px;
  border: none;
  color: white;
}
#package .package__cards__card1__p {
  font-size: 14px;
  color: black;
  margin: 20px 0 0 0;
}
#package .package__cards__card1__btn2 {
  background: #2C3E50;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  padding: 15px 50px;
  border: none;
  margin: 80px 0 0 20px;
}
#package .package__cards__card1__more {
  font-size: 16px;
  color: black;
  margin: 16px 0 0 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
#package .package__cards__rec {
  font-size: 14px;
  color: white;
  background: #1A5CFF;
  border-radius: 10px 10px 0 0;
  width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 33px 0 0 0;
}
#package .package__cards__card2 {
  width: 310px;
  height: 370px;
  background: white;
  border-radius: 0 0 10px 10px;
  padding: 15px 15px;
  margin: 0 0 0 0;
}
#package .package__cards__card2__base {
  font-size: 16px;
  color: black;
}
#package .package__cards__card2__sale {
  font-size: 16px;
  color: #9099A3;
  margin: 0 0 10px 0;
}
#package .package__cards__card2__cash {
  font-size: 36px;
  color: black;
  margin: 10px 0 0 0;
}
#package .package__cards__card2__btn {
  font-size: 12px;
  background: #9099A3;
  border-radius: 5px;
  padding: 3px 6px;
  border: none;
  color: white;
}
#package .package__cards__card2__p {
  font-size: 14px;
  color: black;
  margin: 20px 0 0 0;
}
#package .package__cards__card2__btn2 {
  background: #1A5CFF;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  padding: 15px 50px;
  border: none;
  margin: 65px 0 0 20px;
}
#package .package__cards__card2__more {
  font-size: 16px;
  color: black;
  margin: 16px 0 0 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
#package .package__cards__card3 {
  width: 310px;
  height: 370px;
  background: white;
  border-radius: 10px;
  padding: 15px 15px;
  margin: 60px 0 0 0;
}
#package .package__cards__card3__base {
  font-size: 16px;
  color: black;
}
#package .package__cards__card3__sale {
  font-size: 16px;
  color: #9099A3;
  margin: 0 0 10px 0;
}
#package .package__cards__card3__cash {
  font-size: 36px;
  color: black;
  margin: 10px 0 0 0;
}
#package .package__cards__card3__btn {
  font-size: 12px;
  background: #9099A3;
  border-radius: 5px;
  padding: 3px 6px;
  border: none;
  color: white;
}
#package .package__cards__card3__p {
  font-size: 14px;
  color: black;
  margin: 20px 0 0 0;
}
#package .package__cards__card3__btn2 {
  background: #2C3E50;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  padding: 15px 50px;
  border: none;
  margin: 48px 0 0 20px;
}
#package .package__cards__card3__more {
  font-size: 16px;
  color: black;
  margin: 16px 0 0 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

#help {
  background: #1E2023;
}
#help .help {
  display: flex;
  justify-content: space-around;
  padding: 120px 0 0 0;
}
#help .help__in {
  font-size: 36px;
  color: white;
  margin: 0 0 30px 0;
}
#help .help__leave {
  font-size: 16px;
  color: #9099A3;
  text-align: left;
}
#help .help__request {
  display: flex;
  flex-direction: column;
}
#help .help__request__surname {
  font-size: 14px;
  color: #9099A3;
}
#help .help__request__input {
  width: 616px;
  height: 60px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 17px;
  padding: 0 0 0 20px;
  margin: 15px 0;
}
#help .help__request__send {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 0 0;
}
#help .help__request__send__safe {
  font-size: 16px;
  color: white;
  text-align: left;
}
#help .help__request__send__btn {
  width: 280px;
  height: 60px;
  color: white;
  background: #1A5CFF;
  border-radius: 15px;
  border: none;
  font-size: 18px;
}

#questions {
  background: #1E2023;
}
#questions .questions {
  display: flex;
  justify-content: space-evenly;
  padding: 100px 0;
}
#questions .questions__ask {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#questions .questions__ask__answer {
  font-size: 36px;
  color: white;
}
#questions .questions__ask__icon {
  font-size: 144px;
  color: #1A5CFF;
}
#questions .questions__answers {
  background: url("./img/Ellipse 8.png") no-repeat center/cover;
}
#questions .questions__answers__answer3 {
  display: flex;
  flex-wrap: wrap;
}
#questions .questions__answers__answer3__icon {
  color: white;
  font-size: 20px;
  margin: 0 10px;
}
#questions .questions__answers__answer3 #arrow:checked ~ .questions__answers__answer3__eco {
  height: 150px;
}
#questions .questions__answers__answer3 #difference:checked ~ .questions__answers__answer3__eco {
  height: 150px;
}
#questions .questions__answers__answer3 #month:checked ~ .questions__answers__answer3__eco {
  height: 150px;
}
#questions .questions__answers__answer3 #year:checked ~ .questions__answers__answer3__eco {
  height: 150px;
}
#questions .questions__answers__answer3 #access:checked ~ .questions__answers__answer3__eco {
  height: 150px;
}
#questions .questions__answers__answer3 #platform:checked ~ .questions__answers__answer3__eco {
  height: 150px;
}
#questions .questions__answers__answer3 #money:checked ~ .questions__answers__answer3__eco {
  height: 150px;
}
#questions .questions__answers__answer3__eco {
  height: 0;
  overflow: hidden !important;
  transition: 2s;
}
#questions .questions__answers__answer3__eco__paragraph {
  font-size: 16px;
  color: #9099A3;
  text-align: left;
}
#questions .questions__answers__answer1 {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #eeeeee;
}
#questions .questions__answers__answer1__answer2 {
  font-size: 20px;
  color: white;
  padding: 0 0 20px 0;
}
#questions .questions__answers__answer1__answer2__check {
  display: none;
}
#questions .questions__answers__answer1__arrow {
  font-size: 20px;
  color: white;
  padding: 0 0 20px 0;
}

#finish {
  background: #1E2023;
}
#finish .finish {
  display: flex;
  justify-content: space-around;
  padding: 50px 0 0 0;
}
#finish .finish__logo__icon {
  width: 56px;
  height: 80px;
}
#finish .finish__kaiden__tittle {
  font-size: 20px;
  color: white;
  padding: 0 0 20px 0;
}
#finish .finish__kaiden__tittle2 {
  font-size: 14px;
  color: #9099A3;
  text-align: left;
  padding: 10px 0;
}
#finish .finish__kaiden__btn {
  background: #1A5CFF;
  box-shadow: 1px 5px 8px rgba(26, 92, 255, 0.2);
  border-radius: 15px;
  color: white;
  font-size: 14px;
  padding: 10px 25px;
  border: none;
  margin: 20px 0 0 0;
}
#finish .finish__connection__tittle {
  font-size: 20px;
  color: white;
  padding: 0 0 20px 0;
}
#finish .finish__connection__tittle2 {
  font-size: 14px;
  color: #9099A3;
  text-align: left;
  padding: 10px 0;
}
#finish .finish__connection__tittle2__link {
  font-size: 14px;
  color: #9099A3;
  text-decoration: none;
}
#finish .finish__connection__in {
  font-size: 25px;
  color: white;
  padding: 10px 10px 0 0;
}
#finish .finish__news__follow {
  font-size: 20px;
  color: white;
  padding: 0 0 20px 0;
}
#finish .finish__news__follow__span {
  color: #1A5CFF;
}
#finish .finish__news__btn {
  background: #1A5CFF;
  box-shadow: 1px 5px 8px rgba(26, 92, 255, 0.2);
  border-radius: 15px;
  color: white;
  font-size: 14px;
  padding: 10px 25px;
  border: none;
  margin: 20px 0 0 0;
  position: absolute;
  margin: -10px 0 0 180px;
}
#finish .finish__news__input {
  padding: 0 0 0 10px;
  width: 250px;
  height: 40px;
  border: none;
  background: #FFFFFF;
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  margin: 0 0 20px 0;
}
#finish .finish__news__tittle2 {
  font-size: 14px;
  color: #9099A3;
  text-align: left;
  padding: 10px 0;
}
#finish .end {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 30px 0 0 0;
}
#finish .end--author {
  color: #9099A3;
  font-size: 10px;
}
#finish .end--link {
  display: flex;
  align-items: center;
}
#finish .end--link__terms {
  color: #9099A3;
  font-size: 10px;
}
#finish .end--link__img {
  width: 40px;
  height: 12px;
  padding: 0 10px 0 20px;
}
#finish .end--link--img2 {
  width: 40px;
  height: 34px;
}

/*# sourceMappingURL=style.css.map */
