* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 90%;
}

@mixin poppins {
  background: #1E2024;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
}

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin btnt {
  background: #1A5CFF;
  box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 20px;
  margin: 0 10px 0 0;
}

$color: white;

@mixin shrift {
  font-size: 45px;
  color: white;

}

@mixin delit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin widtht {
  width: 411px;
  height: 521px;
}

@mixin name {
  line-height: 21px;
  text-transform: capitalize;
  color: #2C3E50;
}

@mixin h_4 {
  font-size: 25px;

}

@mixin center {
  display: flex;
  justify-content: center;

}

@mixin student {

  width: 600px;
  height: 340px;
  background: #FFFFFF;
  border-radius: 15px;
}

@mixin icon {
  margin: 15px 25px;
  font-size: 45px;
  color: #2C3E50;
}

@mixin number {
  display: flex;
  justify-content: space-between;
  font-size: 44px;
  color: #9099A3;
}

@mixin numshr {
  display: flex;
  justify-content: space-between;
}

@mixin btnp {
  position: absolute;
  margin: 10px 0 0 290px;
  width: 190px;
  height: 45px;
  background: #1A5CFF;
  box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 18px;
}

@mixin Pshrift {
  width: 484px;
  font-size: 20px;
  color: #2C3E50;
  margin: 30px 0 10px 0;
}

@mixin card {
  width: 310px;
  height: 370px;
  background: white;
  border-radius: 10px;
  padding: 15px 15px;
  margin: 60px 0 0 0;
}

@mixin base {
  font-size: 16px;
  color: black;
}

@mixin sale {
  font-size: 16px;
  color: #9099A3;
  margin: 0 0 10px 0;
}

@mixin cash {
  font-size: 36px;
  color: black;
  margin: 10px 0 0 0;
}

@mixin btn {
  font-size: 12px;
  background: #9099A3;
  border-radius: 5px;
  padding: 3px 6px;
  border: none;
  color: white;
}

@mixin p {
  font-size: 14px;
  color: black;
  margin: 20px 0 0 0;
}

@mixin btn2 {
  background: #2C3E50;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  padding: 15px 50px;
  border: none;
  margin: 80px 0 0 20px;
}

@mixin more {
  font-size: 16px;
  color: black;
  margin: 16px 0 0 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

@mixin surname {
  font-size: 14px;
  color: #9099A3;
}

@mixin input {
  width: 616px;
  height: 60px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 17px;
  padding: 0 0 0 20px;
  margin: 15px 0;
}

@mixin leave {
  font-size: 16px;
  color: #9099A3;
  text-align: left;
}

@mixin question {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #eeeeee;
}

@mixin arrow {
  font-size: 20px;
  color: white;
  padding: 0 0 20px 0;
}

@mixin tittle {
  font-size: 14px;
  color: #9099A3;
  text-align: left;
  padding: 10px 0;
}

@mixin btn3 {
  background: #1A5CFF;
  box-shadow: 1px 5px 8px rgba(26, 92, 255, 0.2);
  border-radius: 15px;
  color: white;
  font-size: 14px;
  padding: 10px 25px;
  border: none;
  margin: 20px 0 0 0;
}

@mixin in {
  font-size: 25px;
  color: white;
  padding: 10px 10px 0 0;
}

@mixin author {
  color: #9099A3;
  font-size: 10px;
}